# Ignore all __pycache__ folders anywhere in the project
**/__pycache__/

# Ignore the transactions.db file (relative to root)
data/database/transactions.db

# Ignore the user_settings file, this file is allways created at the start and store the user setting, so it does not need to be included
data/user_settings/user_settings.json

# Ignore the vscode workspace file
.vscode/workspace.code-workspace